ul li {
  display:inline;
  text-decoration:none;
}


h1 {
  text-align:center;
  text-shadow:2px 2px 8px #FF0000;
  color:yellow;
}



h2 {
  text-align:center;
  margin-bottom:15px;
}

.img-dempsey {
  height:150px;
  width:250px;
}